/* COMMON STYLES */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;

}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }
a{
    color:inherit;
    text-decoration: none;
}
button{
    cursor: pointer;
}
img {
    display: block;
  }

body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

/* HEADER STYLES */
.page-header{
border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}
.page-header-container{
    display: flex;
    justify-content: space-between;
}
.page-nav{
    display: flex;
    align-items: center;
}
.page-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.text-logo{
    color: #2e2f42;;  
}
.menu{
    display: flex;
    gap: 40px;
}
.menu-link{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}
.link-studio {
    position: relative;
    color: #404bbf;
  }
  .link-studio::after {
    content: "";
    position: absolute;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    display: block;
    left: 0;
    bottom: -1px;
  }
.menu-link:hover,
.menu-link:focus { 
color: #404bbf;
}
.menu-adress{
    display: flex;
    gap: 40px;
}
.page-adress{
font-style: normal;
display: flex;
}
.menu-contacts{
display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2e2f42;
padding-top: 24px;
padding-bottom: 24px;
 position: relative;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contacts:hover,
.menu-contacts:focus{
color: #404bbf;
}
/* HERO STYLES */
.hero-container{
margin-right: auto;
margin-left: auto;
}
.hero{
    background-color:#2e2f42;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0 ;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
       url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-title{
    max-width: 496px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff; 
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}
.buy-now-btn{
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  min-width: 169px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-now-btn:hover,
.buy-now-btn:focus{
background-color: #404BBF;
}

/* SECTION 1 */
.icons-one{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;
  background: #f4f4fd;
  height: 112px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.contens-list{
    display: flex;
    gap: 24px;
}
.list-item{
    width: calc((100% - 72px) / 4);
}
.contens-list-item{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.padding-title{
padding-top: 120px;
padding-bottom: 120px;    
}
.list-item-blok{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* SECTION 2 */
.portfolio-list-list{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap:24px;
}
.portfolio{
background-color: #F4F4FD;
}
.block{
    padding: 32px 0 ;
}
.portfolio-list-item{
background-color: #FFFFFF;
width: calc((100% - 72px) / 4);
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}
.portfolio-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-left: auto;
margin-right: auto;
margin-bottom: 72px;
}
.portfolio-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center; 
}

.team-social {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 8px 16px;
  }
  .team-social-list {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-social-link:hover,
  .team-social-link:focus {
    background-color: #404bbf;
  }
  
  .team-social-icon {
    fill: #f4f4fd;
  }
/* SECTION 3 */
.communication{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    }
.communication-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
}
.communication-item{
    position: relative;
    overflow: hidden;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .communication-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .communication-item:hover .portfolio-ran-text {
    transform: translateY(0%);
  }
.communication-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px 
}
.communication-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-ran {
    position: relative;
    overflow: hidden;
  }
.portfolio-ran-text{
    position: absolute;
    top: 0;
  
    width: 296px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
 
.page{
    border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px 
}
/* FOOTER */
.page-footer{
background: #2e2f42;
    padding: 100px 0;
}
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
        max-width: 264px;
    }
.text-logo-two{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.7;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#f4f4fd;
}
.page-logo-two{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
 display: inline-block;
        margin-bottom: 16px;
}
.container-logo{
    display: flex;
align-items: baseline;
}
.footer-logo{
  display: inline-block;
    margin-right: 120px;
}
  .footer-list {
    display: flex;
    column-gap: 120px;
  }
.footer-link {
    width: 40px;
    height: 40px;
  }
  
  .footer-link-icon:hover,
  .footer-link-icon:focus {
    background-color: #31d0aa;
  }
  
  .footer-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-list {
 display: flex;
justify-content: center;
    gap: 16px;
  }
  .footer-social-text {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
  }
  .footer-icon {
    fill: #f4f4fd;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  
  .footer-form-title {
    margin-bottom: 16px;
  
    font: 500 16px / 1.5 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #fff;
  }
  
  .footer-submit-form {
    margin-left: auto;
  }
  
  .footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }
  .footer-input::placeholder {
    font: 400 12px / 2 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 0 16px;
  }
  
  .footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    font: 500 16px / 1.5 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
  
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
  
    background: #4d5ae5;
  
    border: none;
  }
  
  .footer-btn-icon {
    margin-left: 16px;
  }
  /* Backdrop */
  .backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal{
  position: absolute;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal-close{
    position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  .modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icons {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover > .modal-close-icons,
.modal-close:focus > .modal-close-icons {
  fill: #ffffff;
}

.modal-title {
  font: 500 16px / 1.5 "Roboto", sans-serif;

  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: #4d5ae5;
  fill: #4D5AE5;
}

.modal-input:hover,
.modal-input:focus + .modal-icons {
  fill: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font: 400 12px / 1.16667 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}

.modal-field-wrap {
  position: relative;
}

.modal-icons {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icons:hover,
.modal-icons:focus {
  fill: #4d5ae5;
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-text:hover,
.modal-text:focus {
  border: 1px solid #4d5ae5;
}

.modal-field-wrap .modal-text::placeholder {
  padding-top: 8px;
  padding-left: 16px;
  font: 400 12px / 1.16667 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-comment {
  margin-bottom: 16px;
}

.check-input {
  margin-bottom: 24px;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

.modal-check-text {
  font: 400 12px / 1.16667 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #8e8f99;

  align-items: center;
  line-height: 1.17;
}

.modal-check-span {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text > .modal-check-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.check-icons {
  fill: #f4f4fd;
  width: 10px;
}

.modal-link {
  color: #4d5ae5;
}